.content {
    margin: 0 auto;
    display: grid;
    grid-row-gap: 92px;
    max-width: 1440px;
  }
  
  @media screen and (max-width: 1023px) {
    .content {
      grid-row-gap: 88px;
    }
  }


  @media screen and (max-width: 767px) {
    .content {
      grid-row-gap: 64px;
      max-width: 288px;
    }
  }
